{% content 'sidebar_box_teams.htm' title='Principais Clubes' box_content = [

    {flag:'https://soccerama.pro/images/teams/ESP/130.png', name:'Barcelona', name_url:'Barcelona', team_id:'130', season_id:'646', class:'small'},
    {flag:'https://soccerama.pro/images/teams/ESP/117.png', name:'Real Madrid', name_url:'Real-Madrid', team_id:'117', season_id:'646', class:''},
    {flag:'https://soccerama.pro/images/teams/POR/136.png', name:'Porto', name_url:'Porto', team_id:'136', season_id:'644', class:''},

] %}

<!-- Para obter os valores de team_id e season_id basta acessar a página de um jogo da equipe que deseja linkar e clicar em seu nome -->
<!-- A URL da página que se abrirá traz dois valores numéricos separados por barras: o primeiro é o 'team_id' e o segundo é o 'season_id' -->
<!-- Já o campo name_url deve trazer o mesmo texto que o campo name, porém os espaços devem ser substituídos por hífens -->
<!-- URL Exemplo: http://meuplacar.com.br/equipe/nome-do-time/team_id/season_id -->
