{% content 'sidebar_box_leagues.htm' title='Ligas Favoritas' box_content = [

    {flag:'https://soccerama.pro/images/countries/EUR.png',name:'Champions League',competition_id:'11',season_id:'738'},
    {flag:'https://soccerama.pro/images/countries//9.png', name:'Premier League',competition_id:'29', season_id:'651'}, 
    {flag:'https://soccerama.pro/images/countries//2.png', name:'Bundesliga',competition_id:'4', season_id:'636'},
    {flag:'https://soccerama.pro/images/countries//5.png', name:'Primeira Liga',competition_id:'16',season_id:'644'},
    {flag:'https://soccerama.pro/images/countries/BRA.png',name:'Brasileirão',competition_id:'164',season_id:'588'}
    
] %}

<!-- Para obter os valores de compeition_id e season_id basta acessar a página da competição através do match centre, clicando em "Classificação" -->
<!-- A URL da página que se abrirá traz dois valores numéricos separados por barras: o primeiro é o 'competition_id' e o segundo é o 'season_id' -->
<!-- URL Exemplo: http://meuplacar.com.br/competicao/competition_id/season_id -->