<div class="col-xs-12 tab-competition-summary">
	<h3 class="text-center">Artilheiros</h3>
</div>
<div class="col-xs-12 text-center tab-competition-summary tab-competition-topscorers topscorers">
	<div class="row">
		<div class="container-fluid">
			<div class="row competition-title classification-th">
				<div class="col-xs-1 nopaddingleft text-left">#</div>
				<div class="col-xs-4 nopadding text-left">Nome</div>
				<div class="col-xs-3 nopadding text-left">Equipe</div>
				<div class="col-xs-3 nopadding text-left">Posição</div>
				<div class="col-xs-1 text-center nopaddingright" title="Gols"><img src="{{ 'assets/images/goal.png'|theme }}" /></div>
			</div>
		</div>
	</div>
	<div class="row nomarginlaterals">
		<div class="col-xs-12 topscorers-list">
			{% if top_scorers %}
				{% for top_scorer in top_scorers %}
					<div class="row">
						<div class="col-xs-1 nopadding_paddingleft10">{{top_scorer.ranking}}.</div>
						<div class="col-xs-4 nopadding text-left">{{top_scorer.player_name}}</div>
						<div class="col-xs-3 nopadding text-left">{{top_scorer.team_name}}</div>
						<div class="col-xs-3 nopadding text-left">
						{% if top_scorer.position_id == 4 %} Atacantes
						{% elseif top_scorer.position_id == 3 %} Meio-campistas
						{% elseif top_scorer.position_id == 2 %} Defensores
						{% elseif top_scorer.position_id == 1 %} Goleiros
						{% endif %}
						</div>
						<div class="col-xs-1 text-center nopaddingright" title="Gols">{{top_scorer.goal_count}}</div>
					</div>
				{% endfor %}
				<div class="row end">&nbsp;</div>
			{% else %}
				<div class="row">
					<div class="col-xs-12">Sem Resultado</div>
				</div>
			{% endif %}
		</div>
	</div>
</div>