<div class="col-xs-12 text-center tab-team-summary today-matches">
  {% partial 'teamContentMatches' matches=today_matches title='Hoje' %}
</div>
<div class="col-xs-12 text-center tab-team-summary last-matches">
  {% if last_matches %}
    {% partial 'teamContentMatches' matches=last_matches title='Últimos Resultados' %}
  {% endif %}
</div>
<div class="col-xs-12 text-center tab-team-summary next-matches">
  {% if next_matches %}
    {% partial 'teamContentMatches' matches=next_matches title='Próximas Partidas' %}
  {% endif %}
</div>
