<div class="col-xs-12 text-center">
  <div class="row nomargin">
    <div class="col-xs-12 nopadding table-player-subheader team-players-subheader">
      <div class="row nomarginlaterals">
        <div class="col-xs-8 nopadding">
          <div class="col-xs-1 text-left nopaddingright">#</div>
          <div class="col-xs-11 text-left nopadding">Nome</div>
        </div>
        <div class="col-xs-1 text-center nopadding">Idade</div>
        <div class="col-xs-3 nopadding">
          <div class="col-xs-3 text-center nopadding" title="Assistências"><i class="fa fa-share"></i></div>
          <div class="col-xs-3 text-center nopadding" title="Gols"><img src="{{ 'assets/images/goal.png'|theme }}" /></div>
          <div class="col-xs-3 text-center nopaddingt" title="Cartões Amarelos"><img class="yellowcard" src="{{ 'assets/images/yellow_card.png'|theme }}" /></div>
          <div class="col-xs-3 text-center nopadding" title="Cartões vermelhos"><img class="redcard" src="{{ 'assets/images/red_card.png'|theme }}" /></div>
        </div>
      </div>
    </div>
  </div>
  <div class="row nomargin">
    <div class="col-xs-12 nopadding team-player-list">
      {% if goalkeepers|length >= 1 %}
        <div class="row nomarginlaterals">
          <div class="col-xs-12 text-left positions-row">Goleiros</div>
        </div>
        {% for player in goalkeepers %}
        <a href="/jogador/{{player.fullname}}/{{player.id}}" class="ak-hover" >
        <div class="row nomarginlaterals">
          <div class="col-xs-8 text-left nopadding player-fullname">
            <div class="col-xs-1 text-left nopaddingright">{{player.shirt_number}}</div>
            <div class="col-xs-11 text-left nopadding"><img src="{{player.nationality_flag}}" />&nbsp;{{player.fullname}}</div>
          </div>
          <div class="col-xs-1 text-center nopadding">{{player.age}}</div>
          <div class="col-xs-3 nopadding">
            <div class="col-xs-3 text-center nopadding">{{player.assists}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.goals}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.yellowcards}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.redcards}}</div>
          </div>
        </div></a>
        {% endfor %}
      {% endif %}
      {% if defenders|length >= 1 %}
        <div class="row nomarginlaterals">
          <div class="col-xs-12 text-left positions-row">Defensores</div>
        </div>
        {% for player in defenders %}
        <a href="/jogador/{{player.fullname}}/{{player.id}}" class="ak-hover" >
        <div class="row nomarginlaterals">
          <div class="col-xs-8 text-left nopadding player-fullname">
            <div class="col-xs-1 text-left nopaddingright">{{player.shirt_number}}</div>
            <div class="col-xs-11 text-left nopadding"><img src="{{player.nationality_flag}}" />&nbsp;{{player.fullname}}</div>
          </div>
          <div class="col-xs-1 text-center nopadding">{{player.age}}</div>
          <div class="col-xs-3 nopadding">
            <div class="col-xs-3 text-center nopadding">{{player.assists}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.goals}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.yellowcards}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.redcards}}</div>
          </div>
        </div></a>
        {% endfor %}
      {% endif %}
      {% if midfielders|length >= 1 %}
        <div class="row nomarginlaterals">
          <div class="col-xs-12 text-left positions-row">Meio-campistas</div>
        </div>
        {% for player in midfielders %}
        <a href="/jogador/{{player.fullname}}/{{player.id}}" class="ak-hover" >
        <div class="row nomarginlaterals">
          <div class="col-xs-8 text-left nopadding player-fullname">
            <div class="col-xs-1 text-left nopaddingright">{{player.shirt_number}}</div>
            <div class="col-xs-11 text-left nopadding"><img src="{{player.nationality_flag}}" />&nbsp;{{player.fullname}}</div>
          </div>
          <div class="col-xs-1 text-center nopadding">{{player.age}}</div>
          <div class="col-xs-3 nopadding">
            <div class="col-xs-3 text-center nopadding">{{player.assists}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.goals}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.yellowcards}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.redcards}}</div>
          </div>
        </div></a>
        {% endfor %}
      {% endif %}
      {% if forwards|length >= 1 %}
        <div class="row nomarginlaterals">
          <div class="col-xs-12 text-left positions-row">Atacantes</div>
        </div>
        {% for player in forwards %}
        <a href="/jogador/{{player.fullname}}/{{player.id}}" class="ak-hover" >
        <div class="row nomarginlaterals">
          <div class="col-xs-8 text-left nopadding player-fullname">
            <div class="col-xs-1 text-left nopaddingright">{{player.shirt_number}}</div>
            <div class="col-xs-11 text-left nopadding"><img src="{{player.nationality_flag}}" />&nbsp;{{player.fullname}}</div>
          </div>
          <div class="col-xs-1 text-center nopadding">{{player.age}}</div>
          <div class="col-xs-3 nopadding">
            <div class="col-xs-3 text-center nopadding">{{player.assists}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.goals}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.yellowcards}}</div>
            <div class="col-xs-3 text-center nopadding">{{player.redcards}}</div>
          </div>
        </div></a>
        {% endfor %}
      {% endif %}
      <div class="row nomarginlaterals">
        <div class="col-xs-12 text-left positions-row">Técnico</div>
        <div class="col-xs-12 text-left coach_name"></div>
      </div>
    </div>
  </div>
</div>
<div><br /></div>
